.toDoList{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: large;
    font-family: arial;
    border: 1px solid lightgray;
}

h1{
    font-family: Verdana;
}

li{
    width: 250px;
    background-color: rgba(30, 100, 130, 0.7)
}
li:nth-child(even){
    background-color: rgba(30, 100, 130, 0.8)
}

li button{
    margin-left: 10px;
    float: right;
}

.completed{
    text-decoration: line-through;
}

li:hover{
    color:navy;
}

span.completed:hover{
    color: crimson;
}